
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/amagno_connections.local.json
/public/bundles/
/var/
/vendor/
/docs/generated/
###< symfony/framework-bundle ###
